.cbBanner {
	background-color: #263b5e;
	color: #ccc;
	font-family: trebuchet ms, tahoma, verdana, arial, helvetica;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 2px;
	padding:8px;
	padding-left: 15px;
}

.cbBanner p {
	color: white;
	margin:0;
	font-size: 2em;
	padding:6px 0 0 0;
}

/* overrrides style.css: */
div.login {
	padding-top: 3px;
}

ul.collData {
	list-style: disc;
	margin-left: 20px;
}
ul.collData li {
	list-style: disc;
	margin-left: 20px;
}

table#dataDisplay {
	background-color: #ffebcc;
}

table#dataDisplay  td {
	border: 1px solid #999;
	padding: 7px;
	text-align: center;
}

/* allows some cells to be left-aligned */
table#dataDisplay  td.data {
	text-align: left;
}

table#dataDisplay  th {
	background-color: #f2dfc1;
	border: 1px solid #999;
	padding: 7px;
	text-align: center;
	font-weight: bold;
}

table#dataDisplay  th.rows {
	text-align: right;
}

#dataDisplay dl {
}

#dataDisplay dt {
	font-size: 1.3em;
	color: #009;
	font-weight: bold;
	margin-top: 10px;
}

#dataDisplay dd {
	margin-left: 12px;
	margin-top: 10px;
}

div.adminForm {
	background-color: #ffebcc;
	border: 1px solid #999;
	padding: 8px;
}


