html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,
p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,
dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,
sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td {
	background:transparent;
	border:0;
	font-family:inherit;
	font-size:100%;
	font-style:inherit;
	font-weight:inherit;
	margin:0;
	outline:0;
	padding:0;
	vertical-align:baseline;
}

:focus {
	outline:0;
}

html {
	height:100%;
	margin:0 0 1px;
}

body {
	background:#FFF;
	color:#000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:x-small;
	line-height:1;
}

ol,ul {
	list-style:none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

caption,th,td {
	font-weight:400;
	text-align:left;
}

blockquote:before,blockquote:after,q:before,q:after {
	content:"";
}

a:hover,a:active {
	background:transparent;
	border:0;
	color:#000;
	font-weight:700;
	text-decoration:none;
}

h1,h2,h3,h4,h5,h6 {
	color:#333;
	font-family:arial,sans;
	font-weight:700;
}

h1 {
	font-size:2em;
	margin:.5em 0;
}

h2 {
	font-size:1.4em;
	margin: .1em 0;
}

h3 {
	font-size:1.3em;
	margin:.3em 0;
}

h4 {
	font-size:1.2em;
	margin:.2em 0;
}

strong {
	font-weight:700;
}

.daseBanner {
	background-image:url(../images/daseBanner.jpg);
	height:70px;
	margin-top:-1px;
	padding:0 12px;
}

.adminBanner p {
	color:#fff;
	font-size:2em;
	margin:0;
	padding:11px 0 0 12px;
}

.adminBanner abbr {
	font-size:.85em;
}

.adminBanner p.label {
	color:#fff;
	font-family:arial, sans-serif;
	font-size:11px;
	left:12px;
	letter-spacing:.2em;
	position:absolute;
	top:90px;
}

html #maincontent {
	height:1%;
}

/* PAGE background */

div.cb {
	padding:15px;
	background-color:#eef1f8;
}

div#content {
	margin-left:17%;
}

div#subcontent {
	margin-top 0;
	margin-left:17%;
	background-color: #d79d42;
	background-color: #c0d3f2;
	background-color: #eef1f8;
	background-color: #a8721e;
	background-color: #d9c8ad;
	background-color: #e6d4b8;
	padding:10px 15px 15px 30px;
}

div.list {
	padding:10px 15px 15px 100px;
}

div.full {
	padding:10px 15px 15px 30px;
}

div.browse {
	background-color:#f2dfc1;
}

.spacer {
	clear:both;
}

div#footer {
	background-color:#fff;
	color:#666;
	margin:5px 0 0 17%;
}

.hide,.tempHide {
	display:none;
}

.show {
	display:block;
}

div#skipnav {
	left:-1000em;
	position:absolute;
	width:20em;
}

ul.pageList {
	margin:15px 0;
}

li.checkedCollection .tally {
	color:#888;
}

form.styled {
	background-color:#e6d4b8;
	border:1px solid #aaa;
	padding:1em;
	width:40%;
}

form.styled p {
	margin:1em 0;
}

form#searchCollections {
	padding: 3px;
}

form#searchCollections input,select {
	margin: 3px 4px;
}

form#searchCollectionsAdv {
	background-color: #e6d4b8;
	padding: 3px;
margin:0px 0px 10px 0px;
}

form#searchCollectionsAdv input,select {
	margin: 3px 4px;
}

form.login {
	background-color:#e6d4b8;
	border:1px solid #aaa;
	padding:.5em;
	width:40%;
}

form.login p {
	margin:1em;
}

form.login label {
	color:#333;
	font-size:1.2em;
	font-weight:700;
}

form.login label[for] {
	float:left;
	width:40%;
}

form.login input[type=submit] {
	margin-left:40%;
}

div.login {
	padding-top:23px;
}

div.controls {
	float:right;
	margin-right:20px;
}

div.loader {
	float:right;
	margin-top: 20px;
	margin-right:20px;
}

a.logoff:link,a.logoff:visited {
	color:#c00;
	font-size: .9em;
}

a.login:link,a.login:visited {
	color:#c00;
	font-size: 1.1em;
}

div.alert {
	color:#c00;
	font-size:1.5em;
	font-weight:700;
	margin:10px 0;
}

.alert {
	color:#c00;
}

div.searchBoxLabel {
	color:#333;
	font-weight:700;
	margin-left:10px;
}

div#browseColumns a {
	line-height:1.8em;
}

div#browseColumns h4 {
	color:#173561;
	margin-bottom:12px;
}

a.attLink {
	line-height:1.5em;
}

a.spill {
	display:block;
	margin-left:-4px;
	margin-right:-10px;
	padding-left:4px;
}

#catColumn {
	background-color:#d9c8ad;
	float:left;
	padding:10px;
	width:16%;
}

#catColumn a.spill {
	background-color:#ffebcc;
}

#attColumn {
	background-color:#ffebcc;
	float:left;
	margin-right:1px;
	padding:10px;
	width:25%;
}

#attColumn a.spill {
	background-color:#fff0d9;
	border-bottom:1px solid #f2dfc1;
	border-left:1px solid #f2dfc1;
	border-top:1px solid #f2dfc1;
	margin-right:-11px;
}

#valColumn {
	background-color:#fff0d9;
	float:left;
	padding:10px;
	width:45%;
}

#valColumn a.anchor {
	background-color:#c9c8ad;
}

#valColumn.empty {
	background-color:#f2dfc1;
}

.tally {
	color:#999;
	font-size:.94em;
	font-weight:400;
}

a.chk,a.unchk {
	line-height:3em;
}

/*****  ITEM DISPLAY PAGE **************/

.item h1 {
	color: #336;
	font-size: 1.4em;
	margin: 0;
}

table.itemDisplay td {
	border: 1px solid #d9c8ad;
	vertical-align: top;
	padding: 10px 24px;
}

table.itemDisplay td.metadata {
	padding: 12px 24px;
	width: 100%;
	background-color:#fff;
}

table.itemDisplay td.image h2 {
	color:#336;
	font-size: 1.2em;
	margin:0 0 10px 0;
}


td.metadata dl {
	font-weight:700;
	line-height:1.4em;
}

td.metadata dt {
	color:#009;
	font-weight:700;
}

td.metadata dd {
	margin-left:15px;
	font-weight: 300;
}

/****************************************/

li.label {
	color:#333;
	font-family:arial,sans;
	font-size:1.2em;
	font-weight:700;
	margin:10px 4px;
}

ul#menu li.menuForm {
	padding:2px;
}

ul#menu li.menuForm form {
	margin-left:8px;
}

ul#menu li.menuForm input {
	font-size:1em;
}

div#ajaxMsg {
	margin:10px 18px;
	font-weight: bold;
}

h3.browsePublicTags {
	padding-top:20px;
}

h3.browsePublicTags a:link {
	background-color:#fff0d9;
	border:1px solid #e6d4b8;
	color:#555;
	padding:4px 10px;
}

h3.browsePublicTags a:visited {
	background-color:#ffebcc;
	border:1px solid #e6d4b8;
	color:#555;
	padding:4px 10px;
}

h3.browsePublicTags a:hover,a:active {
	background-color:#fff0d9;
	border:1px solid #d9c8ad;
	color:#000;
}

ul#collectionList .check,.uncheck {
	line-height:3em;
	margin:8px;
}

div#jsAlert {
	color:#a00;
	font-size:1.2em;
	font-weight:700;
	margin:10px;
}

a:link,a:visited {
	background:transparent;
	border:0;
	color:#444;
	font-weight:700;
	text-decoration:none;
}

h4.collName,
.adminBanner a,
.loadingMsg {
	color:#666;
}

div#content h3,
div#browseColumns {
	margin:10px 0;
}

ul#collectionList a:link,
ul#collectionList a:visited,
ul#collectionList a:hover,
ul#collectionList a:active {
	background:transparent;
	border:0;
}

ul#collectionList a.checkedCollection:link,
ul#collectionList a.checkedCollection:visited {
	color:#700c0c;
}

ul#collectionList a.checkedCollection:hover,
ul#collectionList a.checkedCollection:active {
	color:#000;
}

a.catLink,a.valLink {
	display:block;
	line-height:1.5em;
}

#searchResults div.caption {
	padding: 10px 3px 0 0px;
}
#searchResults h2 {
	font-size: 1.4em;
	color: #336;
	margin: 0;
}

#searchResults {
	padding: 0px; 
}
#seearchResults table {
	width: 100%;
}
#searchResults td {
	padding: 5px;
	border: 1px solid #d9c8ad;
	vertical-align: top;
	text-align: center;
	width: 180px;
}
#searchResults td.blank {
	border: 0;
}
#searchResults td.checked {
	background-color: #fff0d9;
}
#searchResults td div.checkNum {
	float: left; 
}
#searchResults td div.cartAdd {
	float: right; 
	margin: 0 5px 0 0;
}
#searchResults td div.cartAdd a {
	font-weight: normal;
	padding: 1px 5px;
}
#searchResults td div.cartAdd a:hover {
	background-color:#fff0d9;
	text-decoration: underline;
}
#searchResults td div.cartAdd span {
	color: #700c0c;
	font-weight: bold;
}
#searchResults div.caption .collection_name {
	font-weight: normal;
	color: #669;
	font-size: .95em;
}
#searchResults div.image {
	margin-top: 25px;
}

/*
div.image a{
	float:left;
	clear:center;
	background: url(../images/shadowAlpha.png) no-repeat bottom right !important;
	background: url(../images/shadow.gif) no-repeat bottom right;
	margin: 4px 0 0px 50px !important;
	margin: 4px 0 0px 45px;

}

div.image a img {
	position:relative;
	bottom:5px;
	right: 5px;
	padding:0px;
	margin: 0px;
}
	*/

img.thumbnail {
	border: 1px solid #ccf;
}

img.thumbnail:hover {
	border: 1px solid #999;
}

ul#mediaLinks a {
}

ul#mediaLinks a:hover {
	text-decoration: underline;
}

div.pageControls {
	margin: 10px 0;
}

ul#mediaLinks {
}

ul#mediaLinks a {
	font-weight: normal;
	color: #336;
	line-height: 1.4em;
}

.success {
	color: #090;
}
.failure {
	color: #c00;
}
p.collection_name {
	margin-bottom: 5px;
	font-weight: bold;
	color: #666;
}

div#debugData ul {
	list-style: disc;
	margin-left: 20px;
}
div#debugData li {
	list-style: disc;
	margin-left: 20px;
}

a.clickTarget {
	font-weight: bold;
	font-size: 1.4em;
	padding: 0 3px;
}

a.clickTarget:hover {
	background-color: #eee;
}

.highlight td {
	background-color: #ffc;
}
.highlight  th.rows {
	background-color: #ffc;
}

li#markedList {
/*	display: none;*/
}

ul.searchTallies li {
	line-height: 1.4em;
}
#searchTallies {
	float:left;
}
div#saveMarkedToCollection {
	margin-left: 300px;
}
