div#header {
	height:46px;
	margin:0;
	padding:0;
	background-color: #59666e;
}

body {
	background-color: #9ba4ab;
}

a:link,a:visited {
	background:transparent;
	border:0;
	color:#444;
	font-weight:700;
	text-decoration:none;
}

div#upper {
	margin: 10px auto 0 auto;
	background-color: #9ba4ab;
	color: #fff;
	height: 2em;
	width: 890px;
	letter-spacing: .1em;
	font-size: 1.4em;
	line-height: 1em;
	font-weight: bold;
	vertical-align:text-bottom;
}

div#upper div.general {
	font-size: 2.4em;
	font-weight: bold;
	color: #d5dee3;
	letter-spacing: .04em;
	float: right;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 0;
	vertical-align:text-bottom;
}

div#center-content {
	margin: 0 auto;
	background-color: #fff;
	width: 850px;
	min-height: 22em;
	padding: 20px;
}

div#footer {
	margin: 0px auto;
	width: 890px;
	padding: 10px 0px;
	color:#666;
}

.hide,.tempHide {
	display:none;
}

.show {
	display:block;
}

div#skipnav {
	left:-1000em;
	position:absolute;
	width:20em;
}


