html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,
p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,
dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,
sup,tt,var,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td {
	background:transparent;
	border:0;
	font-family:inherit;
	font-size:100%;
	font-style:inherit;
	font-weight:inherit;
	margin:0;
	outline:0;
	padding:0;
	vertical-align:baseline;
}

pre {
	margin-top: 10px;
	padding: 12px;
	background-color: #eee;
	font-size: .9em;
}

html {
	height:100%;
	margin:0 0 1px;
}

body {
	background:#FFF;
	color:#000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:small;
}

table {
	margin-bottom: 20px;
	border-collapse:collapse;
	border-spacing:0;
}

textarea {
	padding: 5px;
	width: 100%;
}
 
em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

h1 {
	font-weight: bold;
	font-size: 1.4em;
}

h2 {
	font-size: 1.2em;
}

h5 {
	font-size: .9em;
	font-weight: bold;
}

a {
	color: #3f406e;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

div#container {
	margin: 8px auto;
	width: 97%;
}

div#content {
	margin-top: 1em;
	margin-left:170px;
	width: 83%;
	min-height: 12em;
	padding: 0 20px;
}

div#content h1 {
	margin-bottom: 12px;
}

#masthead {
	background-color: #000;
	padding: 8px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.itspropBanner {
	background-image:url(../images/w_on_b.jpg);
	background-repeat: no-repeat;
	background-color: #000000;
	height:50px;
	margin-top:-1px;
	padding:0 12px;
}

.itspropBanner h1 {
	font-size: 1.6em;
	font-weight: bold;
	color: #fff;
	margin-top: 2px;
	margin-left: 166px;
}

.itspropBanner h3 {
	font-size: 1.1em;
	font-weight: bold;
	color: #fff;
	padding-top: 5px;
	margin-left: 166px; 
}

.itspropBanner div.controls {
	margin-top: 40px;
}

.itspropBanner  a {
	color: #fff;
	font-weight: bold;
}

.spacer {
	clear:both;
	height:1%;
}

div#footer {
	background-color:#fff;
	color:#666;
	margin:10px 0 0 170px;
	margin:10px 0 0 0;
}

div#footer img.logo {
	float: left;
	margin-top: -5px;
	margin-right: 5px;
}

div#footer a {
	color: #666;
}

.hide,.tempHide {
	display:none;
}

.show {
	display:block;
}

div#skipnav {
	left:-1000em;
	position:absolute;
	width:20em;
}

div.controls {
	float:right;
}

div.loader {
	float:right;
	margin-top: 20px;
	margin-right:20px;
}


/* Sidebar */
#sidebar {
	float:left;
	width: 164px;
	margin-top: 1em;
	margin-bottom: 5em;

}

#menu:before,#menu:after {
	line-height: 0.1;
	font-size: 1px;
	margin: 0;
	height: 9px;
	display: block;
	border-bottom: 1px solid #ddd;
	content: "";
}
#menu {
	background: #E0E9E9;
	margin-bottom: 1em;
}

#menu:after {
	padding-top: 0;
	height: 8px;
	border-top: 1px solid #fff;
}

#menu, #menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: inline;
	padding: 0;
	margin: 0;
}

#menu li span { /* used for un-linked menu items */
	display: block;
	padding: 6px 10px;
	font-weight: bold;
	color: #666;
}

#menu li a {
	font-weight: bold;
	display: block;
	padding: 8px 10px;
	text-decoration: none;
	background: #EDF2F2;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #fff;
	border-right: 1px solid #ddd;
}

#menu li a.sub {
	font-weight: normal;
	padding: 4px 10px 4px 20px;
}

/*
#menu li a.logoff {
	color: #821415;
}
	*/

#menu li a:hover {
	background: #E0E9E9;
}

#menu li li span { /* used for un-linked menu items */
	padding: 4px 8px 4px 20px;
}

#menu li li a {
	padding: 6px 8px 6px 20px;
}

p.login {
	margin: 10px 0;
}
p.login a {
	color: #c20102;
	font-size: 1.2em;
}

table.listing td,th {
	font-size: .9em;
	padding: 4px;
	border: 1px solid #ccc;
}

table.listing td.cola {
	background-color: #f6f6ff;
}
table.listing th {
	color: #339;
	font-weight: bold;
}

table.listing tr.display_no td {
	background-color: #ddd;
	color: #999;
}

a.edit {
	color: #a00;
	margin: 0 5px;
}


div#msg {
	font-weight: bold;
}

.alert  {
	color: #c00;
}

div#home {
	width: 80%;
}

div#home p {
	margin: 12px 0;
}

ul.proposerInfo {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.proposerInfo li {
	font-weight: bold;
	font-size: 1.1em;
	color: #333;
}

label {
	display: block;
	margin-top: 12px;
	margin-bottom: 6px;
}

p.instruction {
	padding: 3px 6px;
}

p.val {
	font-weight: bold;
	color: #333;
	padding: 0px 6px;
}


form#courseForm,form#budgetForm {
	margin-left: 10px;
}

form#courseForm label,form#budgetForm label {
	background-color: #fff;
	padding: 0;
	font-size: .9em;
	margin-bottom: 0px;
	margin-top: 2px;
	color: #333;
}

form#courseForm input[type=submit], form#budgetForm input[type=submit]{
	margin: 6px 0px;
}

form#courseForm p,form#budgetForm p{
	margin: 1px 0px;
}


form.shortForm label {
	background-color: #fff;
	padding: 0;
	margin-bottom: 2px;
	color: #333;
}

form.shortForm p {
	margin: 8px 0;
}

#proposalForm {
	width: 70%;
}

#proposalForm label {
	color: #333;
	background-color: #EDF2F2;
	padding: 3px 6px;
}

#proposalForm textarea {
	margin: 3px 6px;
	width: 96%;
	min-height: 10em;
}

#proposalForm input[type=submit] {
	margin: 1px 6px;
}

span.control {
	float: right;
}

dl.cola {
	margin-top: 2em;
	width: 50%;
	background-color: #ffc;
	padding: 10px;
	color: #666;
	font-weight: bold;
	font-size: .9em;
}

dl.cola dt {
	float: left;
	color: #009;
}
dl.cola dd {
	margin-left: 80px;
}

h3.infoBar {
	color: #000;
	margin-bottom: 10px;
}


dl.current {
	margin-top: 2em;
	width: 50%;
	background-color: #eee;
	padding: 10px;
	color: #666;
	font-weight: bold;
	font-size: .9em;
}

dl.current dt {
	float: left;
	color: #009;
}
dl.current dd {
	margin-left: 80px;
}


div#proposal_sta p {
	padding: 6px;
}

#deleteProposal {
	margin-top: 3em;
}
#deleteProposal input[type="submit"]:hover {
	background-color: #c00;
	color: #fff;
}

textarea.pending {
	color: #aaa;
}

textarea.highlight {
	background-color: #ffc;
}

input.updating {
	background-color: #fff;
	color: blue;
}

span.updating {
	font-size: .8em;
	color: blue;
}

ul#courses {
	list-style: none;
	margin: 0px;
	padding: 10px;
	background-color: #f2efec;
	font-size: .8em;
	color: #333;
	margin-bottom: 2em;
}

textarea#budget_item_description {
	width: 30em;
	min-height: 2em; 
	height: 2em;
	margin: 3px 0;
}

#budget_items_table {
	margin: 5px 0 15px 0;
}

div.deleteControl {
	float:right;
	margin-right: 30%;
}

div.textchoice {
	margin: 15px 0px 30px 0px;
}

div.textchoice p {
	margin: 8px 10px;
	font-size: .9em;
}

span.current {
	color: blue;
	font-weight: normal;
}

#updateMsg {
	background-color: #fff1a8;
	width: 10%;
	text-align: center;
	padding: 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
color: #000;
position: fixed;
top: 40px;
left: 40%;
filter:alpha(opacity=90);
-moz-opacity:0.9;
opacity: 0.9;
}

input.long {
	width: 50%;
}

form#vision_form textarea {
	min-height: 10em;
	width: 80%;
}

textarea.comment {
	width: 70%;
}

h2#loadingProps {
	margin-top: 10px;
	padding: 6px;
	border: 0px solid #ccc;
	font-size: 12px;
	font-weight: bold;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 30%;
}

h2#rankingProps {
	margin-top: 4px;
	padding: 4px;
	border: 1px solid #ccc;
	font-size: 10px;
	font-weight: bold;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 30%;
}
span.miniLink {
	font-size: 10px;
}
div.tiny {
	font-size: .7em;
	color: #666;
	margin-bottom: 2px;
}

table.highlight input[type=text] {
	background-color: #ccc; 
	color: #666;
}

table#sorter {
	width: 80%;
	margin-top: 10px;
}

table#sorter td {
	border-bottom: 5px solid #fff;
	text-align: left;
	vertical-align: top;
	padding: 3px 5px;
}

table#sorter td  a {
	font-size: .9em;
}

table#sorter tr.instruction {
	background-color: #ffd;
	margin: 0;
}

table#sorter tr.instruction td {
	border: 1px solid #fff;
}

table#sorter tr.instruction td {
	font-style: italic;
}

table#sorter tr.shade {
	background-color: #ddf;
}

table#sorter tr.fade {
	background-color: #eee;
}

table#sorter tr.fade td.title {
	color: #999;
}

table#sorter td.sort {
	width: 40px;
	padding-top: 10px;
}

table#sorter td.topper {
	width: 40px;
}

table#sorter td.title {
	width: 80%;
}

table#sorter td.updateButton {
	background-color: #fff;
	text-align: left;
	vertical-align: middle; 
	padding: 0;
	height: 26px;
	border-bottom: 0;
}

table#sorter tr {
	background-color: #ddd;
}

table#sorter td div.tiny {
	font-size: .7em;
	color: #666;
	margin-bottom: 2px;
}

.javascript_template {
	display: none;
}

span.title {
	font-weight: bold;
	font-size: 1.1em;
}
/*Stuart's css changes */
#sortable li{
	margin-bottom:3px;
	height:25px;
	background-color:#DDDDDD;
	width:80%;
	list-style:none;
}
#sortable{
	cursor:pointer;
}
#sortable li span{
	position:relative;
		top:4px;
		left:5px;
}
#menu li p{
	font-weight:bold;
	color: #666;
	padding-left:10px;
}





#ajaxMsg {
	background-color: #fdf5b4;
	background-color: #fff1a8;
	width: 10%;
	text-align: center;
	padding: 5px;

	-moz-border-radius: 3px;
	color: #000;
	position: fixed;
	top: 2px;
	left: 40%;
	filter:alpha(opacity=96);
	-moz-opacity:0.96;
	opacity: 0.96;
	}



/********** STANDARD CLASSES ********************/

.spacer { clear:both; }
.hide { display:none; }
.pagedata { display:none; }
a.delete { color:#c00; }
.alert { color:#c00; }
.msg { color:#c00; }
a.edit { color: #00c; }
.current { color: #00c; font-weight: bold;}
a.current { color: #00c; font-weight: bold;}
.modify {color: #00c;}
a.modify {color: #00c;}

div#vision_statement {
	margin: 12px 0;
	padding: 10px;
	background-color: #eee;
	width: 80%;
}

.instruction {
	font-style: italic;
	margin-bottom: 0px;
	font-size: .9em;
}

div.vision_instruction {
	width: 80%;
	margin: 10px 0;
}

div.vision_instruction  p {
	margin: 10px 0;
}

#vision_page h2 {
	font-weight: bold;
	margin: 1em 0;
}
