.container
	{
	margin: 0px;
	padding: 0px;
	border: 2px solid #FFFFFF;
	background-color: #534D41;
	color: #FFFFFF;
	}
		
.quote
	{
	background-color: #534D41;
	width: 275px;
	margin-left: 445px;
	border-left: 2px solid #FFFFFF;
	}
		
.checklist
	{
	margin: 20px 0px 0px 0px;
	padding: 0px;
	list-style-type: none;
	}
	
.checklist li
	{
	padding: 0px 0px 10px 0px;
	color: #D8CCB7;
	}
	
.checklist a:link, .checklist a:visited, .checklist a:hover, .checklist a:active
	{
	color: #FFFFFF;
