html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,textarea,p,blockquote,th,td { margin:0; padding:0px; }

img { border:0; }
ol,ul { list-style:none; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }


body{
font-family: arial,sans-serif;
font-size: small;
color: black;
background-color: rgb(118,110,87);
}

div.header {
	   padding-left:10px;
background-image: url(../images/header_grade.jpg);
background-repeat: repeat-y;
border: 2px solid black;
}

div.header img {
		  
position: relative;
top:-15px;
left:-24px;
	 margin-bottom:-18px;
width:237px;
height:80px; 

}




div.header_controls {
float: right;
	   margin-right: 20px;
	   margin-top: 12px;
}

div.header_controls form {
float: left;
	   margin-left: 10px;
}

div.container{
	width:960px;
	margin:0 auto;
}

div.branding {
border:0;
	   text-align:right;
color: #d9cfb4;
}

div.branding a {
font-family:trebuchet ms;
color: #d9cfb4;

	   text-decoration: none;
}

div.branding img{
margin:-1px 0px;
width:
height:
}
div.spacer {
clear: both;
}






/* border of Site specific content and containers for content */

	div.primaryouter {	
		
		border-right:2px solid black;
	}


	div.primary {
		
		background-image: url(../images/gradientbg.jpg);
		background-repeat: repeat-x;

		
		border-right: 1px solid black;
		border-bottom: 1px solid black;
	}
div.primarylucy {
		
		
		background-color:#F7EED1;
		

		border-left: 3px solid black;
		border-right: 1px solid black;
		border-bottom: 1px solid black;
	}


	div.primary a{
		text-decoration:none;
		font-weight:bold;
		font-style: trebuchet ms;
		color:black;
	}

/* end of containers */


/* last conatiner for pictures and info */

	div.mainsite {
		
		/*height:670px;*/
		
	}


	div.mainsite h2{
		text-align: center; 
		font-size: 1.3em;
		font-weight:bold;
		text-decoration: none;
		
	}
	div.mainsite a{

	color:#F9F0D3;
	}

/* end of mainsite conatiner */



/* featured site picture set to 400px */

	div.feature {
		float:left;
		position:relative;
		top:0px;
		left:40px;
		width:637px;
		height:672px;
		
		background-image: url(../images/gradientbg_lucy_text.jpg);
				
		
	}

	div.feature h2{
	float:left;
		padding-left:275px;
		font-size:5em;		
		font-family: arial;		
		font-size:5.2em;
		color: #F5EED4;
		font-weight:normal;
		position:relative;
			top:-3px;
	

	}


	div.feature h4{
		float:right;
		padding-right:45px;
		position:relative;
			top:-2px;
		
		font-family: baskerville,serif;		
		font-size:5.2em;
		color: #F5EED4;

	}

	div.feature h3{
	position:relative;
	top:-9px;
	left:38%;
	font-family:trebuchet ms;
	font-size:1.7em;
	font-weight:bold;
	color:black;
	}

	div.feature p{
	width:42%;
	position:relative;
		
	line-height: 21px; 
	left:45%;
	font-family:trebuchet ms;
	font-size:1em;
	font-weight:bold;
	color:black;


	}
	
	div.feature img{
		position:absolute;
			top:30px;
			left:75px;
		
		
	}


/* end of featured picture */






	div.foot {
		float:left;
		background-color: white;
		height:50px;
		border-bottom: 3px solid black;
		border-top: 2px solid black;
		border-left:3px solid black;
	}


	div.foot ul{
		list-style: none;
	}


	div.foot li {
		border-right: 2px solid black;
		background-color: #A69C81;
		float:left;
		width: 189.2px;
		height: 40px;
		text-align: center;
		padding-top:10px;
	}


	div.foot ul li.lastone {
		border-right: 3px solid black;
		background-color:  #A69C81;
		float:left;
		width: 189.2px;
		height: 40px;
		text-align: center;
		padding-top:10px;

	}


	div.foot li a{
		position:relative;
		top:6px;

	}
	div.foot li.lastone:hover{

	background-color: #F7EED1;
	
	}

	div.foot li:hover {
		background-color: #F7EED1;
	
	}


	div.foot a {
		 text-decoration: none;
		 font-weight: bold;
		color: black;
	}


	div.foot a:first-letter{
		font-size:1.3em;
	}



div.activities{
float: left;
border:3px solid black;
width:250px;
height:130px;
position:relative;
	top:100px;
	left:50px;
background-color:#CE5913;
margin: 10px 0px;
}


div.activities2{
float: left;
border:3px solid black;
width:250px;
height:130px;
position:relative;
	top:100px;
	left:50px;
background-color:#556A94;
margin: 10px 0px;
}


div.activities3{
float: left;
border:3px solid black;
width:250px;
height:130px;
position:relative;
	top:100px;
	left:50px;
background-color:#8C6A41;
margin: 10px 0px;
}






div.activities p{
postion:relative;
	top:5px;	
font-family:trebuchet ms;


}

div.teacher{
float:left;
height:30px;
width:250px;
background-color:#A13C00;
border-bottom:3px solid black;
}
div.teacher h2{
padding-top:5px;
color:#F9F0D3;

}



div.student{
float:left;
height:30px;
width:250px;
background-color:#263A62;
border-bottom:3px solid black;

}
div.student h2{
padding-top:5px;
color:#F9F0D3;

}

div.comparison{
float:left;
height:30px;
width:250px;
background-color:#654B2B;
border-bottom:3px solid black;

}
div.comparison h2{
padding-top:5px;
color:#F9F0D3;

}




div.topbart{
height:70px;

border-top:1px solid black;
background-color:#A13C00;


}
div.topbart h2{
color:#F9F0D3;
font-size:2.2em;
font-weight:bold;
font-family:helvetica;
text-align:left;
padding-left:20px;
padding-top:20px;
}
div.bottombart{

height:10px;
background-color:#CE5913;
border-top:3px solid black;
border-bottom:3px solid black;

}
div.topbars{
height:70px;

border-top:1px solid black;
background-color:#263A62;


}

div.topbars h2{
color:#F9F0D3;
font-size:2.2em;
font-weight:bold;
font-family:helvetica;
text-align:left;
padding-left:20px;
padding-top:20px;


}
div.bottombars{

height:10px;
background-color:#556A94;
border-top:3px solid black;
border-bottom:3px solid black;
}

div.topbarc{
height:70px;

border-top:1px solid black;
background-color:#654B2B;



}
div.topbarc h2{
color:#F9F0D3;
font-size:2.2em;
font-weight:bold;
font-family:helvetica;
text-align:left;
padding-left:20px;
padding-top:20px;


}
div.bottombarc{
height:10px;
background-color:#8C6A41;
border-top:3px solid black;
border-bottom:3px solid black;

}



div.topbarp{
height:70px;

border-top:1px solid black;
background-color:black;



}
div.topbarp h2{
color:#F9F0D3;
font-size:2.2em;
font-weight:bold;
font-family:helvetica;
text-align:left;
padding-left:20px;
padding-top:20px;


}
div.bottombarp{
height:10px;
background-color:#666666;
border-top:3px solid black;
border-bottom:3px solid black;

}


div.credits{
margin:50px 50px;
background-color:transparent;

}
div.credits h3{
background-image: url(../images/grade.jpg);
background-repeat:no-repeat;
font-size:1.3em;
font-family:trebuchet ms;
padding-left:30px;
height:30px;
padding-top:5px;
font-weight:bold;
}
div.credits h4{
font-weight:bold;
padding-top:10px;
	padding-left:30px;
}
div.credits p{
font-family:trebuchet ms,serif;
padding-left:30px;
}

div.credits img{
padding-left:10px;
padding-top:5px;

}

div.list1{
margin:100px 100px;


}
div.list1 h3{
color:black;
font-size:2em;
font-family:trebuchet ms;
}
div.list1 a{
color:black;
text-decoration:none;


}
div.list1 div a{

color:blue;


}

div.glossary_container {
	padding: 30px;
}

dl.glossary {
	margin: 20px;
	width: 60%;
}

dl.glossary dt {
	color: #900;
	font-weight: bold;
	padding: 5px 0;
}
dl.glossary dd {
	margin-left: 20px;
}

div.letters  {
	letter-spacing: .1em;
}

div.letters a {
	color: #333;
	text-decoration: none;
}

div.letters a:hover {
	color: #333;
	text-decoration: underline;
}
