div.sites {
	border-top: 1px solid black;

	border-left:1px solid black;
	border-right:1px solid black;
	
	background-color: #C7CEE0;
	height:70px;
	width:948px;
	position:relative;
	
	
}

div.sites ul li img {
height:21px;
width:21px;
border: 3px solid #ffb400;
position:absolute;
}

div.sites ul li.zho img{
	top:5px;
	left:-30px;
}
div.sites ul li.ata img{
	top:2px;
	left:-30px;
}
div.sites ul li.old img{
	top:-10px;
	left:24px;
}
div.sites ul li.mid img{
	top:-10px;
	left:12px;
	
}
div.sites ul li.had img{
	top:-10px;
	left:-2px;
}





div.sites ul {	
	list-style:none;
	font-size: .9em;
	font-family: trebuchet ms;
	font-weight: bold;
					
}

div.sites ul li.mid{
	position:absolute;
	top:25%;
	left:74.41%;
	width:18.3%;	
	background-color: transparent;
	text-align:center;
	border-bottom: 10px solid black;
	
}
div.sites ul li.mid:hover {	
	border-bottom: 10px solid #ffb400;
					
}



div.sites ul li.had{
	position:absolute;
	top:25%;
	left:47.74%;		
	width:10%;					
	background-color: transparent;
	text-align:center;
	border-bottom: 10px solid black;
}
div.sites ul li.had:hover {	
	border-bottom: 10px solid #ffb400;
					
}

div.sites ul li.old{
	position:absolute;
	top:25%;
	left:17.74%;	
	width:16.6%;						
	background-color:transparent;
	text-align:center;
	border-bottom: 10px solid black;
}
div.sites ul li.old:hover {	
	border-bottom: 10px solid #ffb400;
					
}

div.sites ul li.zho{
	position:absolute;
	top:40%;
	left:7.74%;	
	width:6%;						
	background-color: transparent;
	text-align:center;
	border-bottom: 10px solid black;
}
div.sites ul li.zho:hover {	
	border-bottom: 10px solid #ffb400;
					
}

div.sites ul li.ata{
	position:absolute;
	top:0%;
	left:6.07%;	
	width:3.3%;						
	background-color: transparent;
	text-align:center;
	border-bottom: 10px solid black;
}
div.sites ul li.ata:hover {	
	border-bottom: 10px solid #ffb400;
					
}

