<routes>

  <route action="list" auth="none">
	<match>index</match>
	<match>list</match>
	<match></match>
  </route>

  <route action="build" auth="none">
	<match params="sernum">build</match>
	<match params="sernum">rebuild</match>
  </route>

  <route action="get_image" auth="none">
	<match params="filename">image</match>
  </route>

  <route action="get_blanton_image" auth="none">
	<match params="filename">blantonimage</match>
  </route>

  <route action="build_dataset" auth="none">
	<match>builddata</match>
  </route>

  <!-- THIS ONE NEEDS TO BE LAST!-->
  <route action="vrc_metadata" auth="none">
	<match params="sernum"></match>
  </route>


</routes>
