html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
img { border:0; }
ol,ul { list-style:none; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }

body{
font-family: arial,sans-serif;
font-size: small;
background-color: #766e57;
}

div.header {
	   padding-left:10px;
background-image: url(../images/header_grade.jpg);
background-repeat: repeat-y;
border: 2px solid black;
}

div.header img {
		  
position: relative;
top:-15px;;
left:-24px;
	 margin-bottom:-18px;
width:347px;
height:77px;
/* width:280px;
height:64px;
*/	 

}



div.header_controls {
float: right;
	   margin-right: 20px;
	   margin-top: 12px;
}

div.header_controls form {
float: left;
	   margin-left: 10px;
}


div.container{
width:960px;
margin:0 auto;
}

div.branding {
border:0;
	   text-align:right;
color: #d9cfb4;
}

div.branding a {
font-family:trebuchet ms;
color: #d9cfb4;

	   text-decoration: none;
}

div.branding img{
margin:-1px 0px;
width:
height:
}


div#footer {
width:958px;
margin:0 auto;
border-bottom: 2px black solid;
border-left: 0px black solid;
border-right: 2px black solid;
background-color:#a69c81;
}

div#footer li {
border-left: 2px black solid;
list-style: none;
float: left;
width:189px;
height: 30px;
		text-align: center;
		padding-top: 10px;
}

div#footer li:hover {
	background-color:#f7eed1;
}
div#footer a {
		 text-decoration: none;
		 font-weight: bold;
color: #111;
}

div#footer a:first-letter{
	font-size:1.3em;
}

div.ut {
	font-family: trebuchet ms,sans;
float:right;
	  margin-right: 4px;

}


div.primaryOuter {
border: 2px solid black;
}

div.primary {
background-image: url(../images/info_grade.jpg);
background-repeat: repeat-x;
border: 2px solid #af7c00;
}

div.feature {
float:left;
	background-color: #000;
border-right: 2px solid #af7c00;
color: white;
padding:10px;
}

div.feature img{
float:left;
margin: 0 18px;
}

div.feature div.feature_text{
float:left;
padding: 0px 12px;
width: 190px;
}

div.feature div.one{
	text-align: right;
}

div.feature div.one h3{
margin:6px;
	   margin-right:0;
	   font-family: verdana,serif;
	   font-size: 2em;
	   font-weight:normal;
color:#f7eed1;
}

div.feature div.two h3{
margin:6px;
	   margin-left:0;
	   font-family: georgia,serif;
	   text-decoration:underline;
	   font-size: 2em;
color:#f7eed1;
}

div.info {
float: right;
/*border: 2px solid #af7c00;*/
width: 32%;
padding:30px;
text-align: center;
}

div.info p{
text-align: left;
}

div.info h2 {
margin-bottom: 6px;
	text-decoration: underline;
font-weight: bold; 
font-size: 1.5em;
}

div.timeline {
border: 2px solid black;
 background-color: #f7eed1;
 text-align: center;
 padding: 3px;
 font-size: 1em;
}

div.timeline h2{
		 font-weight:normal;
		 font-size: 1.2em;
}

div.timeline h2:first-letter{
	font-size: 1.4em;
}




div.spacer {
clear: both;
}


div.scale{
position:absolute;
top:68px;
left:10px;
background-color:black;
height: 4px;
width:928px;
}




div.years {
	background-color: transparent;				
	position:absolute;
	top:0px;
	left:0px;	
	width: 948px;
	
}


div.years ul {
	   list-style:none;
}


div.years ul li.first{
	float:left;
	position:relative;
	top:0px;
	left:0px;	
	width: 16%;	
	height: 12px;
	text-align:left; 
	border-left: 4px solid black;
	background-color: transparent;
}

div.years ul li.first a{
position:relative;
top:8px;
left:2px;
}


div.years ul li.middle{
	float:left;
	position:relative;
	top:0px;
	left:0px;
	width: 16%;
	height: 12px;
	text-align:left;
	border-left: 4px solid black;
	background-color: transparent;
}

div.years ul li.middle a{
position:relative;
top:8px;
left:-15px;
}
div.years ul li.last{
	position:absolute;
	top:0px;
	left:925px;
	
	height:12px;		
	text-align:left;	
	background-color: transparent;
	border-left: 4px solid black;
 
}

div.years ul li.last a{
position:relative;
top:8px;
left:-17px;
}

div.bar {

height:26px;
background-color:#ffb400;
border-left:1px solid black;
border-right:1px solid black;
}


div#popouts {
	position:relative;
	border: 1px solid #000;
padding:20px;
	   background-color: #4c576b;
height:170px;
}
div#popouts p{
position:absolute;
	top:48px;
	left:250px;
background-color:white;
border: 1px solid black;
width:45%;
padding:10px;
}


div#popouts img{
position:absolute;
	top:10px;
	left:10px;
height:167px;
width:200px;
border:10px solid #ffb400;

}
div#popouts h1{
position:absolute;
	top:10px;
	left:320px;
font-weight:bold;
font-size:2em;

}
