div#adminHeader {
	background-color: #333;
	color: #ccc;
	font-weight: bold;
	margin-top: 0px;
	padding:4px;
	padding-left: 18px;
}

div#adminHeader p {
	color: white;
	margin:0;
	font-size: 1.7em;
	padding:6px 0 0 0;
}

div#admin {
	background-color:#eef1f8;
}


/* overrrides style.css: */
div.login {
	padding-top: 6px;
	color: #fff;
}

div.login a {
	color: #fff;
	font-weight: bold;
}

span#userName {
	color: #ccc;
}

div#sidebar
{
	margin: 0px 3px;
}

ul#menu a {
	display:block;
	padding: 9px 9px 9px 18px;
	margin: 4px 0px;
}
ul#menu img {
	border: 0;
}
ul#menu  li  {
	/* fixes ie problem */
	background-color: #d5deed;
	-moz-border-radius: 5px;
}
ul#menu li:hover {
	background-color: #eef1f8;
	background-color: #f4f6fc;
}

ul#menuGrayed a {
	display:block;
	padding: 9px 9px 9px 18px;
	margin: 4px 0px;
	background-color: #ddd;
}
ul#menuGrayed img {
	border: 0;
}
ul#menuGrayed  li  {
	background-color: #aaa;
	-moz-border-radius: 5px;
}

sup {
	margin-left: 10px;
	font-size: 1em;
}

table.dataDisplay {
	background-color: #ffebcc;
}

table.dataDisplay  td {
	text-align: center;
}

/* allows some cells to be left-aligned */
table.dataDisplay  td.data {
	text-align: left;
}

table.dataDisplay  td.editForm {
	text-align: left;
	vertical-align: top;
	padding: 1em 1em 1em 2em;
}

table.dataDisplay  td.editForm ul.defined {
	margin-bottom: 2em;
}

table.dataDisplay  td.editForm .submitControl {
	float: left;
	margin-right: 1em;
}

table.dataDisplay  td.editForm .deleteControl {
	float: right;
	margin-right: 2em;
}

table.dataDisplay  td.editForm .deleteControl input {
	padding: 1px;
	border: 1px solid #c00;
    -moz-border-radius: 5px;
}

table.dataDisplay  td.editForm .deleteControl input:hover {
	color: white;
	background-color: red;
}

table.dataDisplay  td.editForm label{
	display: block;
	color: #666;
}

table.dataDisplay  th {
	color: #333;
	background-color: #f2dfc1;
}

table.dataDisplay  th div.current{
	margin-top: 1em;
	color: #999;
	max-width: 300px;
}

table.dataDisplay  th.rows {
	text-align: right;
}

#defined_values_form textarea {
	min-height: 6em;
	margin-bottom: 1em;
}

/* uploader widget styles */

.uploader_target {
	display: none;
}

/* uploader widget styles */
input[type=file] {
	font-size: 1.2em;
	width: 80%;
}

iframe {
	display: none;
}

ul#recent li {
	width: 60%;
    padding: .5em;
    margin: 1em;
    list-style-type: none;
    -moz-border-radius: 5px;
    background-color: #ddd;
}

ul#results li {
	width: 60%;
    padding: .5em;
    margin: 1em;
    list-style-type: none;
    -moz-border-radius: 5px;
}

ul#results li.ok {
    background-color: #c5facf;
    color: #030;
}

ul#results li.error {
    background-color: #fac5ef;
    color: #300;
	height: 2em;
}

