<?php

$conf['db']['type'] = 'mysql'; //mysql || pgsql || sqlite
$conf['db']['host'] = '';
$conf['db']['name'] = '';
$conf['db']['user'] = '';
$conf['db']['pass'] = '';

$conf['superuser'][] = '';

//deployment settings
$conf['apache_docroot'] = '';
$conf['application_path'] = $conf['apache_docroot'].'/dase';
$conf['apache_group'] = 'apache';

//collection-specific media dirs live under here /<collection_ascii_id>/<size>
//must be apache group writeable
$conf['path_to_media'] = '';

//a place to store metadata of deleted items (just-in-case)
//must be apache group writeable
$conf['graveyard'] = "";

