<?php

$conf['db']['type'] = 'mysql'; //mysql || pgsql || sqlite
$conf['db']['host'] = '';
$conf['db']['name'] = '';
$conf['db']['user'] = '';
$conf['db']['pass'] = '';

$conf['superuser']['eid'] = 'password';

//must be apache group writeable
$conf['path_to_media'] = '';

//must be apache group writeable
$conf['graveyard'] = "";

