<routes>

  <route action="ajax/error" auth="none">
	<match>x/.*</match>
  </route>

  <route action="list_collections" auth="user">
	<match>collections</match>
	<match></match>
  </route>

  <route action="atom/collection" auth="none">
	<match params="collection_ascii_id">atom</match>
  </route>

  <route action="collection/browse" auth="user">
	<match params="collection_ascii_id">collection</match>
	<match caps="collection_ascii_id">([^/]*_collection)</match>
  </route>

  <route action="json/user_tags" auth="user">
	<match caps="eid">json/([^/]*)/tags</match>
  </route>

  <route action="json/attributes" auth="user">
	<match caps="collection_ascii_id">json/(.*_collection)/attributes</match>
  </route>

  <route action="search/search" auth="user">
	<match caps="collection_ascii_id">([^/]*_collection)/search</match>
	<match>search</match>
  </route>

  <route action="item" auth="user">
	<match caps="collection_ascii_id" params="serial_number">(.*_collection)</match>
  </route>

  <route action="search/form">
	<match>search/form</match>
  </route>

  <route action="collection/search_form">
	<match caps="collection_ascii_id">([^/]*_collection)/search/form</match>
  </route>

  <route action="xml/collection_list" auth="none">
	<match>xml</match>
  </route>

  <route action="xml/collection" auth="none">
	<match params="collection_ascii_id">xml</match>
  </route>

  <route action="item_xml_dump" auth="token">
	<match params="serial_number">xml/item</match>
  </route>


  <route action="ajax/attributes" auth="none">
	<match caps="collection_ascii_id/pub">ajax/([^/]*_collection)/attributes/(public|admin|all)</match>
  </route>

  <route action="ajax/admin_attributes" auth="none">
	<match>ajax/admin_attributes</match>
  </route>

  <route action="ajax/attribute_tallies" auth="none">
	<match>ajax/attribute_tallies</match>
  </route>

  <route action="ajax/item_tallies" auth="none">
	<match>ajax/item_tallies</match>
  </route>

  <route action="ajax/values_by_attribute" auth="none">
	<match>ajax/values_by_attribute</match>
  </route>

  <route action="error"/>

  <route action="login/form" auth="none">
	<match>login/form</match>
  </route>

  <route action="login/login" auth="none" method="post">
	<match>login</match>
  </route>

  <route action="login/logoff" auth="user">
	<match>logoff</match>
  </route>

  <route action="build_index" auth="admin" params="collection_ascii_id"/>

  <route action="media/media" auth="none">
	<match params="collection/size/filename">media</match>
	<match caps="collection" params="size/filename">(.*_collection)/media</match>
  </route>

  <!-- manage routes -->

  <route action="manage/view_log" auth="superuser">
	<match params="log_name">manage/log</match>
  </route>

  <route action="manage/index" auth="superuser">
	<match>manage</match>
  </route>

  <route action="manage/modules" auth="superuser"/>

  <route action="manage/routes" auth="superuser"/>

  <route action="manage/phpinfo" auth="superuser"/>
  <route action="manage/stats" auth="superuser"/>

</routes>
