<routes>
  <route action="test" auth="none">
	<match params="one/two/three">test</match>
  </route>


  <!-- START experimentation sandbox -->
  <route action="xslt" auth="none">
	<match>xslt/list</match>
  </route>

  <!-- END experimentation sandbox -->

  <route action="html/error" auth="none">
	<match>html/error</match>
  </route>

  <!--<route action="collection/list" auth="user">-->
  <route action="collection/list" auth="none">
	<match>collection/list</match>
	<match>collections</match>
	<match></match>
  </route>

  <route action="atom/collection" auth="none">
	<match caps="collection_ascii_id">atom/([^/]*_collection)</match>
  </route>

  <route action="atom/coll_list" auth="none">
	<match>atom</match>
  </route>

  <route action="atom/opensearch" auth="none">
	<match>atom/search</match>
  </route>

  <route action="atom/item" auth="none">
	<match caps="collection_ascii_id" params="serial_number">atom/([^/]*_collection)</match>
  </route>

  <route action="collection/browse" auth="user">
	<match params="collection_ascii_id">collection</match>
	<match caps="collection_ascii_id">([^/]*_collection)</match>
  </route>

  <route action="json/user_data" auth="eid">
	<match caps="eid">json/([^/]*)/data</match>
  </route>

  <route action="json/admin_collections" auth="eid">
	<match caps="eid">json/([^/]*)/collections</match>
  </route>

  <route action="json/attributes" auth="user">
	<match caps="collection_ascii_id">json/(.*_collection)/attributes</match>
  </route>

  <route action="json/item_tallies" auth="none">
	<match>json/item_tallies</match>
  </route>

  <route action="json/attribute_tallies" auth="user">
	<match caps="collection_ascii_id">json/(.*_collection)/attribute_tallies</match>
  </route>

  <route action="json/cb_attribute_tallies" auth="eid">
	<match caps="collection_ascii_id">json/admin/(.*_collection)/attribute_tallies</match>
  </route>

  <route action="json/admin_attribute_tallies" auth="user">
	<match caps="collection_ascii_id">json/(.*_collection)/admin_attribute_tallies</match>
  </route>

  <route action="json/search" auth="user">
	<match caps="collection_ascii_id">([^/]*_collection)/json/search</match>
	<match>json/search</match>
  </route>

  <route action="search/result" auth="user">
	<match caps="collection_ascii_id">([^/]*_collection)/search</match>
	<match>search</match>
  </route>

  <route action="item" auth="user">
	<match caps="collection_ascii_id" params="serial_number">([^/]*_collection)</match>
  </route>

  <route action="search/form">
	<match>search/form</match>
  </route>

  <route action="collection/search_form">
	<match caps="collection_ascii_id">([^/]*_collection)/search/form</match>
  </route>

  <route action="xml/collections" auth="none">
	<match>xml</match>
  </route>

  <route action="xml/search" auth="none">
	<match params="md5_hash">xml/search</match>
  </route>

  <route action="xml/collection" auth="none">
	<match params="collection_ascii_id">xml/c</match>
	<match caps="collection_ascii_id">xml/([^/]*_collection)</match>
  </route>

  <route action="xml/item" auth="none">
	<match caps="collection_ascii_id" params="serial_number">xml/([^/]*_collection)</match>
  </route>

  <route action="xml/item_thumbs" auth="none">
	<match params="ids">xml/item/thumbs</match>
	<match>xml/item/thumbs</match>
  </route>

  <route action="item_xml_dump" auth="token">
	<match params="serial_number">xml/item</match>
  </route>

  <route action="xml/collections" auth="none">
	<match>xml/collections</match>
  </route>

  <route action="html/attributes" auth="none">
	<match caps="collection_ascii_id">html/([^/]*_collection)/attributes/public</match>
  </route>

  <route action="html/admin_attributes" auth="none">
	<match caps="collection_ascii_id">html/([^/]*_collection)/attributes/admin</match>
  </route>

  <route action="html/attribute_values" auth="none">
	<match caps="collection_ascii_id/attribute_ascii_id">html/([^/]*_collection)/attribute/([^/]*)</match>
  </route>

  <route action="html/item_thumbs" auth="none">
	<match params="ids">html/item/thumbs</match>
  </route>

  <route action="error"/>

  <route action="login/form" auth="none">
	<match>login</match>
  </route>

  <route action="login/login" auth="none" method="post">
	<match>login</match>
  </route>

  <route action="login/logoff" auth="user">
	<match>logoff</match>
  </route>

  <route action="build_index" auth="admin" params="collection_ascii_id"/>

  <route action="media/media" auth="none">
	<match params="collection/size/filename">media</match>
	<match caps="collection" params="size/filename">(.*_collection)/media</match>
  </route>

  <!-- manage routes -->

  <route action="manage/view_log" auth="superuser">
	<match params="log_name">manage/log</match>
  </route>

  <route action="manage/index" auth="superuser">
	<match>manage</match>
  </route>

  <route action="manage/modules" auth="superuser"/>

  <route action="manage/routes" auth="superuser"/>

  <route action="manage/phpinfo" auth="superuser"/>
  <route action="manage/stats" auth="superuser"/>

  <route action="user/settings" auth="eid">
	<match caps="eid">([^/]*)</match>
  </route>

</routes>
