DirectoryIndex index.php index.html
AddType application/x-httpd-php .php
Options FollowSymLinks

AuthType Basic
AuthName "DASE API"
AuthUserFile /mnt/www-data/dase/passwd/api_passwords
Require valid-user 

RewriteEngine On
RewriteBase /vrc

RewriteRule ^get/([^/]*)$ get_image.php?key=$1
