.container
	{
	margin: 0px;
	padding: 0px;
	border: 2px solid #FFFFFF;
	background-color: #9B4F54;
	color: #FFFFFF;
	}
			
.contentRight
	{
	padding: 5px 35px 0px 355px;
	color: #534d41;
	}

.contentText
	{
	height: 250px;
	overflow: auto;
	}
	
.bg-comp
	{
	position: relative;
	margin-left: 13px;
	width: 697px;
	background-image: url(../images/comp/compBG.png);
	background-repeat: repeat;
	background-position: top left;
	}	
	
.compTop
	{
	padding: 20px 0px 0px 13px;
	}
	
.compBottom
	{
	border-bottom: 0px solid #FFFFFF;
	width: 697px;
	padding: 0px 0px 20px 13px;
	}
	
.cartoon
	{
	float: left;
	width: 305px;
	margin-left: 35px;
	}