<routes>

  <route action="index" auth="none">
	<match>index</match>
	<match></match>
  </route>

  <route action="glossary" auth="none">
	<match>glossary</match>
	<match params="term">glossary</match>
  </route>

  <route action="second" auth="none">
	<match params="page_name"></match>
  </route>

</routes>
