div#tree {
	float: left;
}

div#jform {
	background-color: #eed;
	margin:0;
	margin-left: 33%; 
	padding: 15px;
}

div#items {
	background-color: #eee;
	margin: 10px 0 0 33%; 
	padding: 10px 15px;
}

div#items h3 {
	margin: 0;
}

span {
	font-size: 11px;
	font-family: verdana, arial, sans;
}

label {
	font-size: 11px;
	font-family: verdana, arial, sans;
	display: block;
}

h1 {
	margin: 0;
	margin-left: 33%;
}

input.delete {
	color: red;
}
