#error-data h2 {
	color: #888;
	font-size: 1.2em;
	margin: 12px 0;
	padding: 0;
}

#error-data div.masthead {
	background-color: #900;
	padding: 16px;
	font-weight: bold;
	color: #fff;
}

#error-data div.masthead h1 {
	padding: 0px;
	margin: 0px;
}

#error-data table {
	border-collapse:collapse;
	border-spacing:0;
	font-size: .8em;
}

#error-data table th{
	color: #900;
	width: 40%;
	text-align: right;
	padding: 5px 15px;
	border: 1px solid #ddd;
}

#error-data table.routes th{
	color: #666;
}

#error-data table td {
	text-align: left;
	padding: 2px 15px;
	border: 1px solid #ddd;
}

#error-data table td p {
	padding: 0px;
	margin: 0px;
}

