/* reset:http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style: none;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	background: transparent;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}

html {
	/* force scroll bar */
	overflow-y: scroll;
	/*height: 100%;
	margin-bottom: 1px;
	*/
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.4em;
	color: black;
	background: white;
}

a {
	text-decoration: none;
	color: #263b5e;
}

a:hover {
	color: #333;
	text-decoration: underline;
}

div.center {
	margin: 0 0 0 190px;
	padding: 10px 30px;
}

div.sidebar {
	float: left;
	background-color: #eee;
	padding: 10px 30px;
	width: 130px;
}

div.topbar {
	background-color: #666666;
	background-color: #700c0c;
	font-weight: bold;
	margin: 0;
	padding: 5px 30px;
	color: #eee;
}

div.topbar a {
	color: #ddd;
}

div.topbar a:hover {
	color: #fff;
}

h3 {
	color: #263b5e;
	font-size: 1.2em;
	font-weight: bold;
	font-family: arial, sans-serif;
}

dl.routes dt {
	margin-top: 15px;
	color: #700c0c;
	font-weight: bold;
}

dl.routes dd {
	margin-left: 20px;
}
