
	#sidebar
	{
	width: 16%;
	background-color: #ffffff;
	margin: 0px 3px 0px 0px;
	float:left;
	}

	ul#menu a {
	display:block;
	padding: 6px;
	margin: 2px 0px;
	}
	ul#menu  li  {
	/* fixes ie problem */
	display:inline;
	}
	ul#menu  li  ul {
	margin-left:18px;
	}
	ul#menu  li ul li ul {
	padding:6px;
	margin-left:0px;
	background-color: #eee;
	}
	ul#menu  input {
	margin: 2px 0;
	}
	ul#menu li ul li a{
	padding:6px;
	margin: 0px;
	border-top: 1px solid #fff;

	}
	
	li.admin a.main {
	border: 1px solid #000000; 
	border-left: 18px solid #000000;
	background-color: #ffffff;
	}
	li.admin a:hover , a:active {
	background-color: #dddddd;
	}
	ul#admin a {
	background-color: #dddddd;
	}
	ul#admin a:hover {
	background-color: #f1f1f1;
	}

	#admin {
	background-color: #dddddd;
	}
  
	li.slideshow a.main {
	border: 1px solid #263b5e; 
	border-left: 18px solid #263b5e;
	background-color: #ffffff;
	}
	li.slideshow a:hover , a:active {
	background-color: #d5deed;
	}
	ul#slideshow a {
	background-color: #d5deed;
	}
	ul#slideshow a:hover {
	background-color: #eef1f8;
	}

	#slideshow {
	background-color: #d5deed;
	}
  
	li.user_collection a.main {
	border: 1px solid #283b1c; 
	border-left: 18px solid #283b1c;
	background-color: #ffffff;
	}
	li.user_collection a:hover , a:active {
	background-color: #ceead8;
	}
	ul#user_collection a {
	background-color: #ceead8;
	}
	ul#user_collection a:hover {
	background-color: #ebf6ef;
	}

	#user_collection {
	background-color: #ceead8;
	}
  
	li.cart a.main {
	border: 1px solid #700c0c; 
	border-left: 18px solid #700c0c;
	background-color: #ffffff;
	}
	li.cart a:hover , a:active {
	background-color: #ecd7d6;
	}
	ul#cart a {
	background-color: #ecd7d6;
	}
	ul#cart a:hover {
	background-color: #f7efee;
	}

	#cart {
	background-color: #ecd7d6;
	}
  
	li.home a.main {
	border: 1px solid #a25c25; 
	border-left: 18px solid #a25c25;
	background-color: #ffffff;
	}
	li.home a:hover , a:active {
	background-color: #dfcbbc;
	}
	ul#home a {
	background-color: #dfcbbc;
	}
	ul#home a:hover {
	background-color: #f2eae3;
	}

	#home {
	background-color: #dfcbbc;
	}
  
	li.browse a.main {
	border: 1px solid #a8721e; 
	border-left: 18px solid #a8721e;
	background-color: #ffffff;
	}
	li.browse a:hover , a:active {
	background-color: #f2dfc1;
	}
	ul#browse a {
	background-color: #f2dfc1;
	}
	ul#browse a:hover {
	background-color: #ffebcc;
	}

	#browse {
	background-color: #f2dfc1;
	}
  
	li.subscription a.main {
	border: 1px solid #5f5121; 
	border-left: 18px solid #5f5121;
	background-color: #ffffff;
	}
	li.subscription a:hover , a:active {
	background-color: #f4ebd2;
	}
	ul#subscription a {
	background-color: #f4ebd2;
	}
	ul#subscription a:hover {
	background-color: #faf7ec;
	}

	#subscription {
	background-color: #f4ebd2;
	}
  
	li.edit_collections a.main {
	border: 1px solid #5f5121; 
	border-left: 18px solid #5f5121;
	background-color: #ffffff;
	}
	li.edit_collections a:hover , a:active {
	background-color: #f4ebd2;
	}
	ul#edit_collections a {
	background-color: #f4ebd2;
	}
	ul#edit_collections a:hover {
	background-color: #faf7ec;
	}

	#edit_collections {
	background-color: #f4ebd2;
	}
  
	li.tools a.main {
	border: 1px solid #263b5e; 
	border-left: 18px solid #263b5e;
	background-color: #ffffff;
	}
	li.tools a:hover , a:active {
	background-color: #d5deed;
	}
	ul#tools a {
	background-color: #d5deed;
	}
	ul#tools a:hover {
	background-color: #eef1f8;
	}

	#tools {
	background-color: #d5deed;
	}
  