html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,
p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,
dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,
sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td {
	background:transparent;
	border:0;
	font-family:inherit;
	font-size:100%;
	font-style:inherit;
	font-weight:inherit;
	margin:0;
	outline:0;
	padding:0;
	vertical-align:baseline;
}

:focus {
	outline:0;
}

html {
	height:100%;
	margin:0 0 1px;
}

body {
	background:#FFF;
	color:#000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:x-small;
	line-height:1;
}

ol,ul {
	list-style:none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

caption,th,td {
	font-weight:400;
	text-align:left;
}

blockquote:before,blockquote:after,q:before,q:after {
	content:"";
}

a:hover,a:active {
	background:transparent;
	border:0;
	color:#000;
	font-weight:700;
	text-decoration:none;
}

h1,h2,h3,h4,h5,h6 {
	color:#333;
	font-family:arial,sans;
	font-weight:700;
}

h1 {
	font-size:2em;
	margin:.5em 0;
}

h2 {
	font-size:1.7em;
	margin:.4em 0;
}

h3 {
	font-size:1.3em;
	margin:.3em 0;
}

h4 {
	font-size:1.2em;
	margin:.2em 0;
}

strong {
	font-weight:700;
}

.daseBanner {
	background-image:url(../images/daseBanner3.jpg);
	height:70px;
	margin-top:-1px;
	padding:0 12px;
}

.adminBanner p {
	color:#fff;
	font-size:2em;
	margin:0;
	padding:11px 0 0 12px;
}

.adminBanner abbr {
	font-size:.85em;
}

.adminBanner p.label {
	color:#fff;
	font-family:arial, sans-serif;
	font-size:11px;
	left:12px;
	letter-spacing:.2em;
	position:absolute;
	top:90px;
}

html .content {
	height:1%;
}

div.content {
	margin-left:17%;
	padding:15px;
}

div.list {
	padding-left:100px;
}

div.full {
	padding-left:20px;
}

div.browse {
	padding-left:50px;
}

.spacer {
	clear:both;
}

.footer {
	background-color:#fff;
	color:#666;
	margin:5px 0 0 17%;
}

.hide,.tempHide {
	display:none;
}

div#skipnav {
	left:-1000em;
	position:absolute;
	width:20em;
}

ul.pageList {
	margin:15px 0;
}

li.checkedCollection .tally {
	color:#888;
}

form.styled {
	background-color:#e6d4b8;
	border:1px solid #aaa;
	padding:1em;
	width:40%;
}

form.styled p {
	margin:1em 0;
}

form#login {
	background-color:#e6d4b8;
	border:1px solid #aaa;
	padding:.5em;
	width:40%;
}

form#login p {
	margin:1em;
}

form#login label {
	color:#333;
	font-size:1.2em;
	font-weight:700;
}

form#login label[for] {
	float:left;
	width:40%;
}

form#login input[type=submit] {
	margin-left:40%;
}

div.login {
	padding-top:23px;
}

div.controls {
	float:right;
	margin-right:20px;
}

a.logoff:link,a.logoff:visited {
	color:#c00;
	font-size: .9em;
}

a.login:link,a.login:visited {
	color:#c00;
	font-size: 1.1em;
}

div.alert {
	color:#c00;
	font-size:1.5em;
	font-weight:700;
	margin:10px 0;
}

.alert {
	color:#c00;
}

div.searchBoxLabel {
	color:#333;
	font-weight:700;
}

div#browseColumns a {
	line-height:1.8em;
}

div#browseColumns h4 {
	color:#173561;
	margin-bottom:12px;
}

a.attLink {
	line-height:1.5em;
}

a.spill {
	display:block;
	margin-left:-4px;
	margin-right:-10px;
	padding-left:4px;
}

#catColumn {
	background-color:#d9c8ad;
	float:left;
	padding:10px;
	width:16%;
}

#catColumn a.spill {
	background-color:#ffebcc;
}

#attColumn {
	background-color:#ffebcc;
	float:left;
	margin-right:1px;
	padding:10px;
	width:25%;
}

#attColumn a.spill {
	background-color:#fff0d9;
	border-bottom:1px solid #f2dfc1;
	border-left:1px solid #f2dfc1;
	border-top:1px solid #f2dfc1;
	margin-right:-11px;
}

#valColumn {
	background-color:#fff0d9;
	float:left;
	padding:10px;
	width:45%;
}

#valColumn a.anchor {
	background-color:#c9c8ad;
}

.tally {
	color:#999;
	font-size:.94em;
	font-weight:400;
}

a.chk,a.unchk {
	line-height:3em;
}

/*****  ITEM DISPLAY PAGE **************/

table.itemDisplay  td {
	border: 1px solid #d9c8ad;
	vertical-align: top;
	padding: 18px;
}

table.itemDisplay  td.metadata {
	width: 100%;
	background-color:#fff;
}


td.metadata dl {
	font-weight:700;
	line-height:1.4em;
}

td.metadata dt {
	color:#009;
	font-weight:700;
}

td.metadata dd {
	margin-left:15px;
}

/****************************************/

li.label {
	color:#333;
	font-family:arial,sans;
	font-size:1.2em;
	font-weight:700;
	margin:10px 4px;
}

ul#menu li.menuForm {
	padding:2px;
}

ul#menu li.menuForm form {
	margin-left:8px;
}

ul#menu li.menuForm input {
	font-size:1em;
}

div#ajaxMenuMsg {
	margin:10px 18px;
}

h3.browsePublicTags {
	padding-top:20px;
}

h3.browsePublicTags a:link {
	background-color:#fff0d9;
	border:1px solid #e6d4b8;
	color:#555;
	padding:4px 10px;
}

h3.browsePublicTags a:visited {
	background-color:#ffebcc;
	border:1px solid #e6d4b8;
	color:#555;
	padding:4px 10px;
}

h3.browsePublicTags a:hover,a:active {
	background-color:#fff0d9;
	border:1px solid #d9c8ad;
	color:#000;
}

ul#collectionList .check,.uncheck {
	line-height:3em;
	margin:8px;
}

div#jsAlert {
	color:#a00;
	font-size:1.2em;
	font-weight:700;
	margin:10px;
}

a:link,a:visited {
	background:transparent;
	border:0;
	color:#444;
	font-weight:700;
	text-decoration:none;
}

h4.collName,
.adminBanner a,
.loadingMsg {
	color:#666;
}

div.content h3,
div#browseColumns {
	margin:10px 0;
}

ul#collectionList a:link,
ul#collectionList a:visited,
ul#collectionList a:hover,
ul#collectionList a:active {
	background:transparent;
	border:0;
}

ul#collectionList a.checkedCollection:link,
ul#collectionList a.checkedCollection:visited {
	color:#700c0c;
}

ul#collectionList a.checkedCollection:hover,
ul#collectionList a.checkedCollection:active {
	color:#000;
}

div#browse,
#valColumn.empty {
	background-color:#f2dfc1;
}

a.catLink,a.valLink {
	display:block;
	line-height:1.5em;
}

div#searchResults h2 {
	font-weight: 600;
	color: #009;
	font-size: 1.2em;
}

/* from http://thecodecentral.com/2007/10/02/tableless-image-gallery-an-experiment-of-fluid-grid
 */

#searchResults {
	padding: 10px; 
}
#seearchResults table {
	width: 100%;
}
#searchResults td {
	padding: 5px;
	border: 1px solid #d9c8ad;
	vertical-align: top;
	text-align: center;
	width: 20%;
}
#searchResults td.checked {
	background-color: #fff0d9;
}
#searchResults td div.checkNum {
	float: left; 
}
#searchResults div.caption .collection_name {
	font-weight: normal;
	color: #669;
	font-size: .95em;
}
#searchResults div.caption,div.image {
	padding: 10px;
}
