html {
	height:100%;
	margin:0 0 1px;
}

body {
	background:#FFF;
	color:#000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:x-small;
	line-height:1;
}

ul#xoxo {
	width: 60%;
}

ul,ol {
	margin: 10px 0;
}

dl {
	margin: 10px 0;
	font-weight:600;
	line-height:1.4em;
}

dt {
	color:#009;
	font-weight:700;
	float: left;
	margin-right: 10px;
}

dd {
	margin-left:15px;
	font-weight: normal;
}

a {
	font-size: 1.1em;
	font-weight: bold;
	background-color: #f2f3ed;
	display: block;
	padding: 3px;
}

a.metadata {
	display:inline;
	font-weight:normal;
	background-color: inherit;
	padding: 0;
	font-size: 1em;
}

.hide {
	display: none;
}

