<routes>
  <route action="html/error" auth="none">
	<match>html/error</match>
  </route>

  <!--<route action="collection/list" auth="user">-->
  <route action="collection/list" auth="none">
	<match>collection/list</match>
	<match>collections</match>
	<match></match>
  </route>

  <route action="atom/collection" auth="none" mime="application/atom+xml">
	<match caps="collection_ascii_id">atom/([^/]*_collection)</match>
  </route>

  <route action="atom/collections" auth="none" mime="application/atom+xml">
	<match>atom</match>
	<match>atom/collections</match>
  </route>

  <!-- note search_item MUST precede search -->
  <route action="atom/search_item" auth="none" mime="application/atom+xml">
	<match caps="collection_ascii_id">atom/([^/]*_collection)/search_item</match>
	<match>atom/search_item</match>
  </route>

  <route action="atom/opensearch" auth="none" mime="application/atom+xml">
	<match caps="collection_ascii_id">atom/([^/]*_collection)/search</match>
	<match>atom/search</match>
	<match params="md5_hash">atom/search/md5</match>
  </route>

  <route action="atom/user_tag" auth="token" mime="application/atom+xml">
	<match caps="eid" params="id">atom/user/([^/]*)/tag/id</match>
  </route>

  <!-- note that I created a second stanza w/o auth-->
  <route action="atom/user_tag" auth="none" mime="application/atom+xml">
	<match caps="eid" params="ascii_id">atom/user/([^/]*)/tag</match>
  </route>

  <route action="atom/item" auth="none" mime="application/atom+xml">
	<match caps="collection_ascii_id" params="serial_number">atom/([^/]*_collection)</match>
  </route>

  <route action="collection/browse" auth="user">
	<match params="collection_ascii_id">collection</match>
	<match caps="collection_ascii_id">([^/]*_collection)</match>
  </route>

  <!-- NOTE: eid should always be preceded by 'user' in regex -->
  <route action="json/user_data" auth="eid" mime="application/json" nocache="custom">
	<match caps="eid">json/user/([^/]*)/data</match>
  </route>

  <route action="json/user_cart" auth="eid" mime="application/json">
	<match caps="eid">json/user/([^/]*)/cart</match>
  </route>

  <route action="json/admin_collections" auth="eid" mime="application/json">
	<match caps="eid">json/user/([^/]*)/collections</match>
  </route>

  <route action="json/attributes" auth="user" mime="application/json">
	<match caps="collection_ascii_id">json/([^/]*_collection)/attributes</match>
  </route>

  <route action="json/item_tallies" auth="none" mime="application/json">
	<match>json/item_tallies</match>
  </route>

  <route action="json/attribute_tallies" auth="user" mime="application/json">
	<match caps="collection_ascii_id">json/([^/]*_collection)/attribute_tallies</match>
  </route>

  <route action="json/admin_attribute_tallies" auth="user" mime="application/json">
	<match caps="collection_ascii_id">json/([^/]*_collection)/admin_attribute_tallies</match>
  </route>

  <!-- note search_item MUST precede search -->
  <route action="search/item" auth="none">
	<match caps="collection_ascii_id">([^/]*_collection)/search_item</match>
	<match>search_item</match>
  </route>

  <route action="search/result_set" auth="user">
	<match caps="collection_ascii_id">([^/]*_collection)/search</match>
	<match params="md5_hash">search/md5</match>
	<match>search</match>
  </route>

  <route action="item/item" auth="user">
	<match caps="collection_ascii_id" params="serial_number">([^/]*_collection)</match>
  </route>

  <route action="html/attribute" auth="none">
	<match caps="collection_ascii_id" params="attribute_ascii_id">html/([^/]*_collection)/att</match>
  </route>

  <route action="html/attributes" auth="none">
	<match caps="collection_ascii_id">html/([^/]*_collection)/attributes/public</match>
  </route>

  <route action="html/admin_attributes" auth="none">
	<match caps="collection_ascii_id">html/([^/]*_collection)/attributes/admin</match>
  </route>

  <route action="html/attribute_values" auth="none">
	<match caps="collection_ascii_id/attribute_ascii_id">html/([^/]*_collection)/attribute/([^/]*)</match>
  </route>

  <route action="html/collection" auth="none">
	<match params="collection_ascii_id">html/c</match>
	<match caps="collection_ascii_id">html/([^/]*_collection)</match>
  </route>

  <route action="html/collections" auth="none">
	<match>html</match>
  </route>

  <route action="html/item" auth="none">
	<match caps="collection_ascii_id" params="serial_number">html/([^/]*_collection)</match>
  </route>

  <route action="html/tags" auth="eid">
	<match caps="eid">html/user/([^/]*)/tags</match>
  </route>

  <route action="html/tag" auth="none">
	<match caps="eid" params="ascii_id">html/user/([^/]*)/tag</match>
	<match params="id">html/tag</match>
  </route>

  <route action="html/search_tallies" auth="none">
	<match>html/tallies/search</match>
	<match caps="collection_ascii_id">html/tallies/([^/]*_collection)/search</match>
  </route>

  <route action="html/sql" auth="none">
	<match>sql/search</match>
	<match caps="collection_ascii_id">sql/([^/]*_collection)/search</match>
  </route>

  <!-- initiate login process (it'll delegate to module) -->
  <route action="login/initiate_login" auth="none">
	<match>login</match>
  </route>

  <!-- accept GET from module at '/login/{eid}' -->
  <route action="login/finish_login" auth="none">
	<match params="eid">login</match>
  </route>

  <route action="login/logoff" auth="none">
	<match>logoff</match>
  </route>

  <route action="collection/build_index" auth="admin" params="collection_ascii_id"/>

  <!-- NOTE that media requests are dispatched by mod_rewrite. see prod_htaccess -->

  <route action="user/add_cart_item" auth="eid" method="post">
	<match caps="eid">user/([^/]*)/cart</match>
  </route>

  <route action="user/delete_tag_item" auth="eid" method="delete">
	<match caps="eid" params="tag_item_id">user/([^/]*)/tag_items</match>
  </route>

  <route action="user/tag" auth="eid">
	<match caps="eid" params="id">user/([^/]*)/tag/id</match>
  </route>

  <route action="user/tag" auth="eid">
	<match caps="eid" params="ascii_id">user/([^/]*)/tag</match>
  </route>

  <route action="user/cart" auth="eid">
	<match caps="eid">user/([^/]*)/cart</match>
  </route>

  <!-- manage routes -->

  <route action="exec/exec" auth="superuser">
	<match>exec</match>
  </route>

  <route action="manage/view_log" auth="superuser">
	<match params="log_name">manage/log</match>
  </route>

  <route action="manage/index" auth="superuser">
	<match>manage</match>
  </route>

  <route action="manage/modules" auth="superuser"/>
  <route action="manage/routes" auth="superuser"/>
  <route action="manage/phpinfo" auth="superuser"/>
  <route action="manage/stats" auth="superuser"/>

  <route action="user/settings" auth="eid">
	<match caps="eid">user/([^/]*)</match>
  </route>

</routes>
