<routes>

  <route action="list_collections" auth="user">
	<match>collections</match>
	<match></match>
  </route>

  <route action="collection/browse" auth="user">
	<match params="collection_ascii_id">collection</match>
	<match caps="collection_ascii_id">(.*_collection)</match>
  </route>

  <route action="json_attributes" auth="user">
	<match caps="collection_ascii_id">(.*_collection)/attributes</match>
  </route>

  <route action="search" auth="user">
	<match caps="collection_ascii_id">(.*_collection)/search</match>
	<match>search</match>
  </route>

  <route action="item" auth="user">
	<match caps="collection_ascii_id" params="serial_number">(.*_collection)</match>
  </route>

  <route action="search_form">
	<match>search/form</match>
  </route>

  <route action="collection/search_form">
	<match caps="collection_ascii_id">(.*_collection)/search/form</match>
  </route>

  <route action="collection_xml" auth="token">
	<match params="collection_ascii_id">xml</match>
	<match auth="none">xml</match>
  </route>

  <route action="item_xml_dump" auth="token">
	<match params="serial_number">xml/item</match>
  </route>


  <route action="ajax_attributes" auth="none">
	<match>ajax/attributes</match>
  </route>

  <route action="ajax_admin_attributes" auth="none">
	<match>ajax/admin_attributes</match>
  </route>

  <route action="ajax_attribute_tallies" auth="none">
	<match>ajax/attribute_tallies</match>
  </route>

  <route action="ajax_item_tallies" auth="none">
	<match>ajax/item_tallies</match>
  </route>

  <route action="ajax_values_by_attribute" auth="none">
	<match>ajax/values_by_attribute</match>
  </route>

  <route action="error"/>
  <route action="login_form" auth="none" />
  <route action="login" auth="none" />
  <route action="logoff" auth="user" />

  <route action="build_index" auth="admin" params="collection_ascii_id"/>

  <route action="media/media" auth="none">
	<match params="collection/size/filename">media</match>
  </route>

  <!-- manage routes -->

  <route action="manage/view_log" auth="superuser">
	<match params="log_name">manage/log</match>
  </route>

  <route action="manage/index" auth="superuser">
	<match>manage</match>
  </route>

  <route action="manage/modules" auth="superuser"/>

  <route action="manage/routes" auth="superuser"/>

</routes>
