html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
img { border:0; }
ol,ul { list-style:none; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }

body{
font-family: trebuchet ms,arial,sans-serif;
}

h1 {
	font-size: 1.2em;
}

.hide {
	display: none;
}

div.container{
width:900px;
margin:10px auto;
border: 1px solid #999;
background-color: #f3f3f3;
}

div.branding {
padding: 6px 15px;
background-color: #eef;
font-size: 1.3em;
color: #ba5d00;
border-bottom: 1px solid #999;
}

div.content {
	padding: 15px;
}

table#formTable {
}

table#formTable th {
	border: 1px solid #ccc;
	padding: 4px;
	text-align: right
}

table#formTable td {
	border: 1px solid #ccc;
	padding: 4px;
}

form input {
	margin-bottom: .5em;
}

label {
	color: #999;
	font-size: .9em;
	font-weight: bold;
	margin-top: .5em;
}

.msg_ready {
	color: #0c0;
}
.msg_ok {
	color: #00c;
}
.msg_no {
	color: #c00;
}
