div#manageHeader {
	background-color: #333;
	color: #fff;
	font-weight: bold;
	font-size: 1.8em;
	margin-top: 0px;
	padding:12px 0 8px 18px;
}

div#manage {
	background-color:#f3f8ff;
}


/* overrrides style.css: */
div.login {
	padding-top: 6px;
	color: #fff;
}

div.login a {
	color: #fff;
	font-weight: bold;
}

span#userName {
	color: #ccc;
}

div#sidebar
{
	margin: 0px 3px;
}

ul#menu a {
	display:block;
	color: #000;
	color: #353a41;
	padding: 9px 9px 9px 18px;
	margin: 5px 0px;
}
ul#menu img {
	border: 0;
}
ul#menu  li  {
	/* fixes ie problem */
	background-color: #ecd7d6;
	background-color: #e7ff9c;
	background-color: #76a452;
	background-color: #8fb96e;
	background-color: #c2dafb;
	-moz-border-radius: 5px;
}
ul#menu li:hover {
	background-color: #f7efee;
	background-color: #e7ff9c;
	background-color: #a8bdda;
}

sup {
	margin-left: 10px;
	font-size: 1em;
}

div#classInfo {
	margin-top: 1em;
	width: 70%;
}

div#classInfo h1 {
	padding: 10px;
	background-color: #d4d8de;
	color: #000;
}

div#classInfo h2 {
	padding: 5px 10px;
	background-color: #eee;
}
div#classInfo h3 {
	margin: 10px;
}

div#classInfo p {
	margin: 10px;
	font-size: 1.1em;
}

div#classInfo ul {
	margin: 10px;
	line-height: 1.3em;
}

span.mods {
	color: #669;
	margin-right: .5em;
}

span.declaring {
	color: #666;
	margin-right: .5em;
}

span.method {
	color: #333;
	font-weight: bold;
	margin-right: .5em;
}

.javascript_template {
	display: none;
}


