html #maincontent {
	height:1%;
}
/********** PAGE SECTIONS ************************/

#skipnav {
	left:-1000em;
	position:absolute;
	width:20em;
}

#header {
	background-image:url(../images/daseBanner.jpg);
	height:70px;
/*	margin-top:-1px;*/
	margin-top:-4px;
	padding:0 12px;
}

#sidebar {
	width: 16%;
	margin: 0px 3px 0px 0px;
	float:left;
}

#footer {
	font-weight: normal;
	color: #666;
	margin-top:5px;
}

#footer a {
	font-weight: bold;
	font-size: .92em;
}

#content,
#footer {
	margin-left:17%;
}

/******************* PAGE FORMATS ************************/

.list {
	padding:10px 15px 15px 100px;
}

.full {
	padding:10px 15px 15px 30px;
}

.error {
	padding:30px 15px 15px 30px;
	height: 10em;
}

/************ PAGE STYLES **************************/ 

#browse {
	background-color:#f2dfc1;
}
#browse td {
	border: 1px solid #d9c8ad;
}

#settings {
	background-color:#eef1f8;
}

#slideshow {
	background-color:#d5deed;
}
#slideshow td {
	border: 1px solid #9cacc6
}

#user_collection {
	background-color:#ceead8;
}
#user_collection td {
	border: 1px solid #9dbda9;
}

#cart {
	background-color:#ecd7d6;
}
#cart td {
	border: 1px solid #cdb0ae;
}

#searchTallies {
	background-color: #e6d4b8;
}

/********** STANDARD CLASSES ********************/

.spacer { clear:both; }
.hide { display:none; }
.pagedata { display:none; }
a.delete { color:#c00; }
.alert { color:#c00; }
.msg { color:#c00; }
a.edit { color: #00c; }

/********* STANDARD STYLES *******************/

#contentHeader h1,
#contentHeader h2,
#contentHeader h3,
#contentHeader h4 {
	color: #333;
	width: 70%;
	line-height: 1.1em; 
	margin: 0 0 .8em 0;
}
#contentHeader h1 a {
	color: #666;
}
#contentHeader h2 {
}
#contentHeader h3 {
	color: #777;
}
#contentHeader h4 {
}
/************ COLLECTION LIST ***************/

ul#collectionList {
	margin: .7em 0;
}
ul#collectionList li {
	line-height: 1.8em;
}
ul#collectionList h4 {
	margin-top: .7em;
	color: #333;
	margin-left: 6px;
}
ul#collectionList a.checkedCollection:link,
ul#collectionList a.checkedCollection:visited {
	color:#700c0c;
}
ul#collectionList a.checkedCollection:hover,
ul#collectionList a.checkedCollection:active {
	color:#000;
}

/********* COLLECTION BROWSE ****************/

div#browseColumns {
	margin: 1em 0;
}
div#browseColumns a {
	display:block;
	line-height:1.7em;
	font-weight: bold;
}
div#browseColumns a.hide {
	display:none;
}
div#browseColumns h4 {
	color:#173561;
}
div#browseColumns a.spill {
	display:block;
	margin-left:-4px;
	margin-right:-10px;
	padding-left:4px;
}
div#catColumn {
	background-color:#d9c8ad;
	float:left;
	padding:10px;
	width:16%;
}
div#catColumn a.spill {
	background-color:#ffebcc;
}
div#attColumn {
	background-color:#ffebcc;
	float:left;
	margin-right:1px;
	padding:10px;
	width:25%;
}
div#attColumn a.spill {
	background-color:#fff0d9;
	border-bottom:1px solid #f2dfc1;
	border-left:1px solid #f2dfc1;
	border-top:1px solid #f2dfc1;
	margin-right:-11px;
}
div#valColumn {
	background-color:#fff0d9;
	float:left;
	padding:10px;
	width:45%;
}
div#valColumn a.anchor {
	background-color:#c9c8ad;
}
div#valColumn.empty {
	background-color:#f2dfc1;
}

/*****  ITEM DISPLAY PAGE **************/
table#item {
}

table#item td {
	vertical-align: top;
}
table#item td a {
	font-weight: normal;
}
table#item td a:hover {
	text-decoration: underline;
}
table#item td.image h4 {
	margin: .5em 0;
	color: #666;
	font-weight: bold;
}

table#item td.metadata {
	width: 100%;
	background-color:#fff;
	padding: 1.2em;
}
table#item td.metadata dl {
	margin-bottom: .5em;
	margin-top: .5em;
}
table#item td.metadata dt {
	color:#339;
	font-weight:bold;
}
table#item td.metadata a.toggle {
	color: #999;
}

table#item td.metadata textarea {
/*	font-size: 1.4em;*/
	width: 90%;
	padding: 3px;
}

table#item td.metadata ul#notes {
	line-height: 1.8em;
	margin: 1em 0;
}

div#itemLinks {
	margin: 2em 0;
}

div#itemLinks a {
}

div#adminPageControls {
	text-align: right;
	margin-top: -10px;
	margin-right: 10px;
	min-height: 18px;
}

#metadata_form label {
	color:#339;
	font-weight:bold;
}

/*****  ITEM SET DISPLAY PAGE **************/

table#itemSet td {
	vertical-align: top;
	text-align: center;
	width: 180px;
}
table#itemSet td.blank {
	border: 0;
}
table#itemSet td div.checkNum {
	float: left; 
}
table#itemSet td div.image {
	margin-top: 1.8em;
}
table#itemSet td h5 {
	line-height: 1.2em;
	color: #666;
}
table#itemSet td h5.collection_name {
	font-weight: normal;
	color: #669;
	margin-bottom: 0;
}
table#itemSet td img {
	border: 1px solid #ccf;
}
table#itemSet td img:hover {
	border: 1px solid #999;
}
table#itemSet td div.cartAdd {
	float: right; 
	margin: 0 5px 0 0;
}
table#itemSet td div.cartAdd a {
	font-weight: normal;
	padding: 1px 5px;
}
table#itemSet td div.cartAdd a:hover {
	text-decoration: underline;
}
table#itemSet td div.cartAdd span {
	color: #700c0c;
	font-weight: bold;
}

#removeFromSet {
	float:right;
}

#removeFromSet:hover {
	background-color: #e33;
	color: #fff;
}

/*********** FORM STYLES *********************/

form.adminForm {
	margin: 5px;
	padding: 3px;
	border: 1px solid #999;
	width: 400px;
}
form.adminForm input {
	margin: 5px;
}
form.adminForm label {
	margin: 5px;
	font-weight: bold;
	color: #666;
}

form#searchRefine {
	margin: .8em 0;
}

form#loginForm {
	background-color:#e6d4b8;
	border:1px solid #aaa;
	padding:.5em;
	width:40%;
}
form#loginForm p {
	margin:1em;
}
form#loginForm label {
	color:#333;
	font-size:1.2em;
	font-weight:700;
}
form#loginForm label[for] {
	float:left;
	width:40%;
}
form#loginForm input[type=submit] {
	margin-left:40%;
}

/************ MISCELLANEOUS STYLES ***************/

span#userName {
	color: #333;
	font-weight: bold;
}

div.login {
	font-size: .9em;
	float:right;
	margin-right:20px;
	padding-top:18px;
}

div.login a.alert {
	color: #c00;
}

.tally {
	color:#999;
	font-size:.94em;
	font-weight:normal;
}

div#test-data .success {
	color: #090;
}
div#test-data .failure {
	color: #c00;
}

div#saveChecked {
	margin: 1em 0 0 0;
}
div#saveChecked select.plainSelect {
	margin: 0 5px 0 0;
}

span.nolink {
	color: #999;
}

span.numberInSet {
	color: #666;
	font-size: .9em; 
}

#ajaxMsg {
	padding: 1em 2em;
	color: #966;
}
